@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script src="~/Scripts/TestPage/AwesomeGridView.js"></script>
}


<div id="awesome-grid-container">

</div>


<div id="awesome-grid-container2">

</div>